body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orang-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
    
}
.experiences-ara{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.hafe-width{
    width: 50%;
    padding-left: 5%;
}
.hafe-width img{
    width: 80%;
}
.link-butom{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.drime-big{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}
.experiences-omg{
    width: 40%;
     margin-left:5%;
     margin-right: 5%;
     padding: 25px;
     border-radius: 5px;
    box-shadow: 10px 10px 40px  gray;
} 
#web-devlopar{
    border-left: 10px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
#web-dev{
    border-left: 10px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;    
}
footer p{
    text-align: center;
}